@font-face {
  font-family: "Nautigal";
  src: url("./assets/fonts/TheNautigal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aboreto";
  src: url("./assets/fonts/Aboreto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT";
  src: url("./assets/fonts/GowunBatang-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Carrois";
  src: url("./assets/fonts/CarroisGothic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.top-menu {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10;
}

.top-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.top-menu ul li a {
  color: black;
  font-family: "Aboreto", cursive;
  font-size: 20px;
  text-decoration: none;
  padding: 6px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 6px;
}

.top-menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  cursor: pointer;
}


.block1-container {
  position: relative;
  display: block;
}

.block1-img {
  width: 100%;
  height: 95vh;
}

.text-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.0;
}

.blanc-text {
  font-family: "Nautigal", cursive;
  font-size: 230px;
  color: #BF9845;
  margin: 0;
}

.nailLounge-text {
  font-family: "Aboreto";
  font-size: 32px;
  margin: 0;
}

.menuButton {
  font-family: "Carrois";
  margin-top: 50px;
  display: inline-block;
  padding: 12px 24px;
  background-color: #BF9845;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.menuButton:hover {
  background-color: gray;
}


.block2-container {
  background-color: #F3F0EE;
  padding: 100px 20px;
  padding-bottom: 140px;
  text-align: center;
}

.block2-content {
  max-width: 100%;
  margin: 0 auto;
}

.section-title {
  font-family: "Aboreto", cursive;
  font-size: 40px;
  color: #BF9845;
  margin-bottom: 20px;
}

.section-title-black {
  font-family: "Aboreto", cursive;
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
}

.section-description {
  font-family: "GT";
  font-size: 20px;
  color: #333;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}


.block3-container {
  background-color: #FDFBFA;
  padding: 100px 20px;
  padding-bottom: 140px;
  text-align: center;
}

.services-content {
  margin: 0 auto;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.service-card {
  border: 1px solid #BF9845;
  padding: 30px 20px;
  width: 250px;
  font-family: "GT";
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.service-card h3 {
  font-family: "Carrois";
  font-size: 20px;
  color: black;
  margin-bottom: 12px;
  letter-spacing: 1px;
  line-height: 1.4;
}

.service-card p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6;
}

.price {
  font-family: "Aboreto";
  font-size: 24px;
  color: #BF9845;
  font-weight: bold;
}

.service-icon {
  width: 20%;
  display: block;
  margin: 0 auto;
}



.block4-container {
  background-color: #F3F0EE;
  padding: 100px 20px;
  padding-bottom: 140px;
  text-align: center;
}

.block4-content {
  max-width: 100%;
  margin: 0 auto;
}

.stars {
  color: #BF9845;
  font-size: 1.5rem;
  margin: 30px;
}

.section-name {
  font-family: "GT";
  font-size: 18px;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}


.block5-container {
  background-color: #BF9845;
  padding: 10px 20px;
  text-align: center;
}

.rights p {
  font-family: "Carrois";
  font-size: 14px;
  color: #F3F0EE;
  font-weight: bold;
}









.services-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

