@font-face {
  font-family: "Nautigal";
  src: url("./assets/fonts/TheNautigal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aboreto";
  src: url("./assets/fonts/Aboreto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT";
  src: url("./assets/fonts/GowunBatang-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.block1-container {
  position: relative;
  display: block;
}

.header-img {
  width: 100%; 
  height: 50%;
}

.text-container {
  position: absolute;
  top: 47%;
  left: 16%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  line-height: .9;
}

.blanc-text {
  font-family: "Nautigal", cursive;
  font-size: 210px;
  margin: 0;
}

.nailLounge-text {
  font-family: "Nautigal", cursive;
  font-size: 48px;
  margin: 0;
}

.block2-container {
 position: relative;
  width: 100%;
}

.marble-img {
   width: 100%;
   display: block;
}

.nails-img {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
  width: 350px;
  z-index: 2;
}

.description-text {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  width: 40%;
  text-align: center;
  color: #333;
  z-index: 2;
}

.text-header {
  font-family: "Aboreto";
  font-size: 24px;
}

.text-body {
  font-family: "GT"; 
  font-size: 18px;
  line-height: 1.6;
  padding: 24px;
}

.block3-container {
 position: relative;
 width: 100%;
}

.gradient-img {
   width: 100%;
   display: block;
}

.services-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 2;
}